.select button {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 18px;
}
.active {
    animation-name: active;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes active {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.noActive {
    animation-name: noActive;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes noActive {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}
.select_item {
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 15px;
    gap: 10px;
}
.item_active {
    display: none;
}
.select_item a {
    text-decoration: none;
    color: #fff;
}